body {
  font-family: 'Chrome Droid Sans', 'Droid Sans Fallback', 'Lucida Grande', sans-serif;
  font-size: 12px;
  cursor: default;
  margin: 0.8em;

  min-width: 260px;
}

.pscreen {
    display: none;
}

.pscreen ul {
    display: block;
    margin : 0;
    padding : 0;
    list-style: none;
    list-style-type: none;
    border-bottom: 1px solid gray;
    
}

.status {
    margin-top: 0.5em;
	text-align: center;
	height: 3.0em;
	vertical-align: middle;
	/*background: -webkit-linear-gradient(left,  #ffffff 0%,#d8deea 25%,#d8deea 75%,#ffffff 100%); */
}

.status img {
	width: 3.0em;
	height: 3.0em;
	float: left;
}

.status .site {
	display: block;
	text-align: center;
    color: blue;
}

.ainfo {
    padding-top: 1.0em;
    color: gray;
    padding-bottom: 1.0em;
}

.button {
    width : 100%;
    text-align: center;
    padding-top : 0.8em;
    padding-bottom : 0.8em;
    border-top: 1px solid gray;
    background-color: #D8DEEA;
}

.button:hover { 
    background-color: #8F94A0;
}

.button .site {
    color: blue;
}
