body {
  font-family: 'Chrome Droid Sans', 'Droid Sans Fallback', 'Lucida Grande', sans-serif;
  font-size: 12px;
  cursor: default;
  margin: 0;

  min-width: 160px;
}

.pscreen {
    display: none;
}

.pscreen ul {
    display: block;
    margin : 0;
    padding : 0;
    list-style: none;
    list-style-type: none;
}

.status {
    margin-top: 0.5em;
}

.status .site {
    color: blue;
}

.ainfo {
    margin-top: 0.5em;
    color: gray;
}

.button {
    width : 100%;
    text-align: center;
    padding-top : 0.8em;
    padding-bottom : 0.8em;
}

.button:hover { 
    background-color: gray;
}

